html {
    scroll-behavior: initial;
}

body {
    margin: 0;
    padding: 0;
    background-color: #001A2C;
    color: white;
    font-family: 'Gilroy-Medium', sans-serif;
}

::selection {
    background-color: #84ff9f2f;
}

.cursor-circle {
    border: 2px solid #84ff9f71;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50px;
    top: -15px;
    left: -15px;
    transform: translateX(-15px) translateY(-15px);
    pointer-events: none;
    z-index: 9999;
    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
    // box-shadow: 0px 0px 10px 10px #84ff9f2f;
}

header {
    display: flex;
    justify-content: center;
    z-index: 1000;

    span {
        color: #84FF9F;
    }
}

.video-section {
    height: 330vh;
}

.video-frame {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.video {
    border-radius: 20px;
}

.main {
    min-height: 500vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5vh;
    overflow: hidden;
    
    h3 {
        font-size: 30vh;
        font-family: 'Libre Baskerville', sans-serif;
        margin: 0;
        color: #cdb4db;
        
        transition: top 0.5s ease-in-out;
    }
    
    .milan-title {
        max-width: 100%;
        color: #ebebeb;
        white-space: nowrap;
        overflow: visible;
        text-overflow: unset;
        display: inline-block;
    }
}

.image-container {
    position: relative;
    width: 90%;
    max-width: 100%;
    height: auto;

    img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    // fg
    img:first-child {
        position: relative;
        z-index: 1000;
    }

    // bg
    img:last-child {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
